@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;420;700&display=swap");

:root {
  --fallback-font: system-ui, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", var(--fallback-font);
  background: #fafafa;
}

div.icourt-items header {
  background-color: #3b4148;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}

h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0;
}

h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

h6,
.h6 {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
}

nav a,
.nav-link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

button {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
}
